.astrometry-image-data .date ,
.astrometry-image-data .framesCount,
.astrometry-image-data .framesSeconds,
.astrometry-image-data .equipment
{
border: 1px solid #a0a0a0;
    padding: 3px 5px;
    line-height: normal;
    border-radius: 3px;
}

.astrometry-image.image-inactive {
    padding: 10rem;
    background: rgba(0,0,0,0.3);
}
