.astrometry-image {
  position: relative;
  line-height: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.4);
  border-bottom: 0px;
  transition: all 0.3s ease-in;
}
.astrometry-image.fullsize {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background:rgba(0,0,0,0.9);
}
.astrometry-image.fullsize figure{
  text-align:center;
}
.astrometry-image.fullsize img{
  max-height: 100vh;
  display: inline-block;
}
.astrometry-image figure {
  margin:0;
  cursor:zoom-in;
}
.astrometry-image.fullsize figure {
  cursor:zoom-out;
}
.astrometry-image .annotations {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
  bottom: 0px;
  width: 100%;
	pointer-events:none;
	opacity:0;
	display:none;
	transition: opacity 0.3s ease-in;
}
.astrometry-image .solved+.annotations {
	display:block;
}
.astrometry-image .solved:hover+.annotations:not(.visible) {
	opacity:1;
}
.astrometry-image .annotations.visible {
  opacity:1;
}
.astrometry-image .monochrome {
  -webkit-filter: invert(1) grayscale(100%);
   filter: invert(1) grayscale(100%);
}
.astroStatus {
  position:absolute; 
  bottom:0px; 
  left:0px; 
  padding:5px; 
  background:#666; 
  color:#FFF;
  line-height:normal;
}

.astrometryActions {
	position:absolute;
	bottom:5px;
	right:5px;  
	line-height:normal;
	pointer-events:none;
}
.astrometryActions .toggleAnnotations:before {
  content:'\f05b';
}
.astrometryActions .toggleMonochrome:before {
  content:'\f279';
}
.astrometryActions .openFull:before {
  content:'\f35d';
}
.astrometryActions .astrometryAction {
  padding:5px;
  cursor:pointer;
	pointer-events:all;
}
.astrometryActions .astrometryAction:before {
  font-family: FontAwesome;
  color:#bbbbbb;  
}
.astrometryActions .astrometryAction:hover:before, .astrometryActions .astrometryAction.active:before {
  color:#900;
}


.solving {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-40px;
    margin-top:-40px;
}
.solving:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: solving 1.2s linear infinite;
}
@keyframes solving {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.astrometry-image-data {
	padding: 3rem;
  background: rgba(0,0,0,0.4);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 0 0 1.5em;
  display: grid;
  grid-template-columns: 1fr 2fr;
	align-items: center;	
}
.skyplot {
	vertical-align: middle;
  text-align:center;
  cursor:pointer;
}
.skyplot div {
	border-radius:5px;
	background: rgba(0,0,0,0.4);	    
    display: inline-block;
    margin: 0px auto;
	padding: 10px;
	min-height: 200px;
    min-width: 200px;
}
.skyplot img {
  filter: grayscale();
}
.astrometry-data {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 2fr;
	grid-auto-rows: min-content;
  grid-gap: 0.6rem;
}
.astrometry-data a{
  font-weight: 300;
}
.astrometry-data > * {
  margin:0;
  grid-column: 2 / span 3;
}
.astrometry-data > .col2 {
  grid-column: 2;
}
.astrometry-data > .col3 {
  grid-column: 3;
}
.astrometry-data > .col4 {
  grid-column: 4;
}
.astrometry-data label {
  font-size: inherit;
	text-align: right;
	color: #666!important;
  font-weight: normal;
  grid-column: 1;  
}
.astrometry-data .framesX {
  margin:0 0.5rem;
}
.astrometry-data .info {
  color: #AAA;
}
.astrometry-data abbr {
  text-decoration: none;
  border-bottom: 1px dashed rgba(255,255,255,0.4);
}

@media (max-width: 900px) {
  .astrometry-data {
    grid-template-columns: 1.2fr 2fr;
  }
  .astrometry-data > * {
    grid-column: auto!important;
  }  
}

@media (max-width: 700px) {
  .astrometry-image-data {
    grid-template-columns: 100%;
  }
  .skyplot {
    margin-bottom:2rem;
  }
}